CompileFlags:
  Add:
    - -I/home/nedas/Work/onecore/include
    #- -I/usr/include/freetype2
    - "--target=x86_64-windows-gnu"
    - "-I/usr/lib/zig/libc/include/any-windows-any"
    #- --target=x86_64-apple-darwin
    #- -isysroot=/home/nedas/Work/macos-sdk
    #- -F/home/nedas/Work/macos-sdk/Frameworks
    #- -lframework=CoreFoundation
    #- -lframework=CoreText
    # -lframework=CoreGraphics
